

DateTime==5.4
folium==0.16.0
gitdb==4.0.11
GitPython==3.1.42
haversine==2.8.1
image==1.5.33
ipykernel==6.29.2
jupyterlab==4.1.6
notebook==7.1.0
numpy==1.26.4
pandas==2.2.1
pip==23.1.2
plotly==5.19.0
streamlit==1.32.2
streamlit-folium==0.18.0
